/* Navbar */
$navbarBgColor: #222;
$navBrandNavLinkColor: #bbb;
$colorWhite: #fff;
$headerColor: blue;
$logoSize: 1.7em;
$paddinRight20px: 20px;

/* BodyContent */
$containerImageBg: url('https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc.OsIRQiYGw.O61ir4P9z5BOCrGygz0m54rXIJIQ_Ams_WvkjTp4hlPBzsJPVz0QnIlEcsKGWCuEnhnZ18HKpcboHAGIsp7x_ODmC7Nq2xEuBhVAevPUJM5NFYVDImb7R4wKPkOK0aIUdkchXSCrWHZGGwpjmXxQdMpTiO2phrc0-&h=1080&w=1920&format=jpg');
$imageCover: cover;
$noRepeat: no-repeat;
$backgroundPosition: center center;
$style100: 100%;
$height100vh: 100vh;
$displayFlex: flex;
$justifyCenter: center;
$headerOne: rgba(0, 0, 0, 0.2);
$headerOneSize: 5vw;
$headerTextShadow: 0px -2px 4px #fff,
0px -2px 10px #FF3,
0px -10px 20px #F90,
0px -20px 40px #C33;
$headerTranslateY: translateY(-40%);
$headerFont: "mkserif",Times New Roman,serif;
$uppercase: uppercase;


/* Video */
$alignItemsCenter: center;
$posFixed: fixed;
$margin: 0;
$contentBg: rgba(0, 0, 0, 0.5);
$colorF1: #f1f1f1;
$padding10: 10px;
$padding20: 20px;
$padding40: 40px;
$width200px: 200px;
$font18px: 18px;
$noBorder: none;
$colorBlack: #000;
$cursorPointer: pointer;
$colorTripled: #ddd;
$minHeight: 80vh;
